/node_modules
/public/hot
/public/images
/public/storage
/storage/*.key
/vendor
/node_modules

.env
.env.example
.phpunit.result.cache
.idea
.bash_history
.editorconfig
.gitattributes
.styleci.yml

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# not sure about this one
/db-data
