.left-side-button, .left-side-button2 {
  position: relative;

  background-color: #f1f1f1;
  padding: 1.5rem 0;
  border-left: 6px solid #49c5b6;

  box-shadow: 0 0 2px #fff;
  transition: box-shadow 0.3s;
}

.left-side-button:hover, .left-side-button2:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #fff;
}

.material-icons-settings {
  position: absolute;
  left: 0.5rem;
}

.text-btn-left-side {
  position: absolute;
  left: calc(1.5rem + 1vw);
}

.material-icons-chevron-right {
  position: absolute;
  right: 0.5rem;
}

#non-active-left-side-button, #non-active-left-side-button2 {
  border: 0;
  background-color: transparent;
}